.HeaderContainer{
    display: flex;
    align-items: center;
    font-family: cursive;
    font-size: 1.2rem;
    > *{
        margin-right: 2rem;
    }
    >h2{
        cursor: pointer;
    }
    >img{
        border-radius: 50%;
        cursor: pointer;
    }
    >:nth-child(3):hover, :nth-child(4):hover , :nth-child(5):hover , :nth-child(6):hover{
        cursor: pointer;
        color: #717172;
    }
}