.navbarContainer{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    color: #6c6c6d;
    >div{
        width: 60%;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        background-color: #2C2E31;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >div{
            display: flex;
            align-items: center;
            padding: 0.2;
        }
        >div:hover{
            cursor: pointer;
            color: white;
        }
    }
}

.active{
    color: yellow;
}