.dashBoardWrapper{
    margin: 5rem 2rem;
    display: flex;
    >:nth-child(1){
        width: 20%;
        > *{
            margin: 0.5rem 0;
        }
        >h1{
            color: #E2B714;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 5rem;
            font-weight: 80;
        }
        >h2{
            color: grey;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    >:nth-child(2){
        margin: 0 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: grey;
    }
    >:nth-child(3){
        width: 80%;
        display: flex;
        height: 18rem;
        flex-direction: row-reverse;
        transform: rotate(-180deg);
        >div{
            width: 0.7rem;
            background-color: yellow;
            max-height: 17rem;
            /* border-bottom-right-radius: 1rem; */
            border-bottom-left-radius: 1rem;
        }
    }
}