.dashBoardWrapper{
    margin: 5rem 2rem;
    display: flex;
    >:nth-child(1){
        width: 20%;
        > *{
            margin: 0.5rem 0;
        }
        >h1{
            color: #E2B714;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 5rem;
            font-weight: 80;
        }
        >h2{
            color: grey;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    >:nth-child(2){
        width: 80%;
    }
}