.bodyWrapper{
    position: relative;
}

.bodyContentWrapper{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    color: grey;
    >div{
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-justify: newspaper;
        word-spacing: 5px;
        letter-spacing: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 80%;
        >input{
            scale: 0;
            position: absolute;
        }
    }
}

.blurryBackground{
    cursor: pointer;
    filter: blur(10px);
}

.focusMessage{
    font-size: 1.3rem;
    position: absolute;
    top: 50%;
    left: 40%;
}