.bodyWrapper{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    color: grey;
    >div{
        font-size: 1.5rem;
        text-justify: newspaper;
        word-spacing: 5px;
        letter-spacing: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 80%;
        >input{
            scale: 0;
            position: absolute;
        }
    }
}