.bodyWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    >:last-child{
        cursor: pointer;
        margin: 2rem 0;
        width: max-content;
    }
}

.bodyContentWrapper{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    color: grey;
    position: relative;
    >div{
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-justify: newspaper;
        word-spacing: 5px;
        letter-spacing: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 80%;
        >input{
            scale: 0;
            position: absolute;
        }
    }
    
}

.blurryBackground{
    cursor: pointer;
    filter: blur(10px);
}

.focusMessage{
    font-size: 1.3rem;
    position: absolute;
    top: 45%;
    left: 40%;
    display: flex;
    align-items: center;
    > *{
       margin: 0.2rem; 
    }
}

.correct{
    color: yellow;
    text-decoration: underline;
}

.incorrect{
    color: red;
    text-decoration: underline;
}